# Prerequisites
*.d
instructions.*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# build directories
cmake-build-*/
build/
out/
bin/

# imgui saved state
imgui.ini

# Since ".obj" are ignored by default, we force them to be added
!assets/models/**/*.obj

# Visual Studio specific files
CMakeSettings.json
.vs/

# Clion specific files
.idea/

# Visual Studio Code specific files
.vscode/

# Screenshots
screenshots/

errors/